body {
    background-image: url('bg1.webp');
    background-position: center;
    background-size: cover;
    overflow: scroll;
}

main {
    min-height: 50vh;
}

footer {
    position: relative;
    margin-top: 2em;
}